*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #f9f7fe;
}

.main-container{
    max-width: 600px;
    margin: 120px auto;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    left: 1.5;
    color: #272044;
    margin-bottom: 20px;
}

form{
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    display: flex;
    padding: 30px;
}

.input-box{
    padding: 16px;
    width: 80%;
    border-radius: 50px;
    font-size: 16px;
    line-height: 20px;
    color: 272044;
    border: 1px solid rgba(39, 33, 66, 0.5);
    margin-right: 10px;
}

.submit-btn{
    background-color: #885df1;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 14px 24px;
    border-radius: 50px;
    width: 150px;
}

#lower-form-text{
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid #885df1;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    font-size: 13px;
}